src/main/mule/update-record.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="update-recordFlow" doc:id="4ea31277-41a8-42ea-abb7-b5c25819e674" >
		<http:listener doc:name="Listener" doc:id="cf3f9585-c4e5-4a74-83d7-f76c27523930" config-ref="HTTP_Listener_config" path="/update"/>
		<ee:transform doc:name="Transform Message" doc:id="7a576f79-a3e6-450f-b076-7189a564002c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="1e907009-b94e-43be-92aa-64c929b8ae53" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
	{
		Id:payload.Id,
		CustID__c: payload.CustID,
		CustName__c :payload.CustomerName,
		AccountNo__c :payload.AccountNo,
		Balance__c:  payload.Balance,
	}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update doc:name="Update" doc:id="e2949a5c-116a-4211-badd-6dce63a3f825" config-ref="Salesforce_Config" type="BankDetails__c"/>
		<ee:transform doc:name="Transform Message" doc:id="6e215a77-53c2-48a4-aca7-fe5cfe2a086f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "statusCode": payload.items.statusCode,
  "message": payload.items.message
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
